
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-weight: bold;
}
body{
    margin: 0;
    padding: 32px;
    background: rgba(159, 44, 255, 0.16);
    font-family:  Roboto ;
}
hr{
    border: 2px solid blueviolet;
}

.brand{
    font-size:24px;
    color: blueviolet;
    text-decoration: none;
}
.brand:hover{
    text-decoration: none;
    color: white;
}
input{
    padding: 10px 30px;
    border: solid 2px grey;
}

.header-container{
    display: flex;
    width: 100%;
    padding-left: 32px;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.header{
    flex: 1;
    font-weight: bold;
    color: blueviolet;
}

nav ul{
    float:right;
}
nav li {
    display: inline-block;
    padding: 0 30px ;
    text-decoration: none;
    list-style: none;
}
nav li a{
    color:black;
    text-decoration: none;
}
nav li a:hover{
    color: blueviolet;

}

button{
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-family: Roboto;
    background: blueviolet;
    color: white;
}
button:hover{
    opacity: 0.8;
}
.main-container{
    width: 100%;
}
.title{
    font-size: 40px;
    color:white;
    display: block;
    width: fit-content;
    background: blueviolet;
}

span{
    font-size: 8px;
}


