*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 24px;
    font-family: Roboto;
    background: rgba(159, 44, 255, 0.16);
}
header{
    text-align: center;
    font-size: 24px;
    margin: 0 0 30px 0;
}
.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.input-line{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

input[type="number"],input[type="date"],input[type="password"],input[type="text"]{
    flex: 1;
    height: 40px;
    border-radius: 5px;
    margin: 16px 24px;
    border: 1px solid #b9b9b9;
    padding: 16px;
}

input[type="submit"]{
    padding: 15px 25px;
    margin: 16px 24px;
    background: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: Roboto;
}
input[type="submit"]:hover {
    opacity: 0.8;
}
.form-container{
    flex: 2;
    border: 1px solid #b9b9b9;
    padding: 40px 40px 0 40px;
    border-radius: 5px;

}
.image-container{
    margin:0  0 0 200px;
    flex: 1;
}